<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fuck.engine.upms.mapper.SysInterfaceMapper">

    <select id="getAllocatable" resultType="cn.fuck.engine.upms.entity.SysInterface">
        SELECT
            *
        FROM
            sys_interface si
        WHERE
            NOT EXISTS (
                SELECT
                    *
                FROM
                    sys_attribute sa
                WHERE
                    si.id = sa.id
            )
    </select>
</mapper>